<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>
        {% block title %}
            Из шаблона
        {% endblock %}

    </title>
</head>
<body>
<button>
    <a href="{% url 'riddles:riddles' %}">Главная &nbsp</a>
</button>
<button>
    <a href="{% url 'riddles:fly_list_url' %}">Все полёты &nbsp</a>
</button>
<h1 class="title">
    {% block header %}
    {% endblock %}
</h1>
<p>{% block content %}
{% endblock %}
</p>

</body>
</html>